---
layout: default
about-video-id: lrM5CRg-O0I
---

<section class="bg-dark padded tall-video grid-middle light-text relative">
    <video class="background" width="100%" autoplay muted loop>
        <source src="/video/KakaoTalk_Video_2023-08-17-07-33-38.mp4" type="video/mp4">
        Your fish
        <!-- in case vid is not playing -->
    </video>

    <div class="col-8_sm-10 editable relative">
        <h2> Настоящая Российская корюшка
        </h2>
        <p> Теперь и в Южной Корее можно
            насладиться вкусом
            настоящей свежей
            российской корюшки. </p>
    </div>

</section>

<section class="padded-2 bg-dark center light-text">
    <h3> В нашей брошюре есть больше содержания. </h3>
    <a href="/images/CATALOGUE.pdf" class="button" download> Получите нашу брошюру </a>
</section>

<!-- Icon Grid  -->
<section class="padded grid center icon-section" id="why-us">
    <div class="col-12 center padded-b editable">
        <h2> почему выбрали нас </h2>
    </div>
    <div class="col-4_sm-6_xs-12">
        <img src="/images/icons/ship.png" class="editable">
        <h4 class="editable"> Прямо из Владивостока. </h4>
        <p class="editable"> Только что прибыла в Пусан
            напрямую из Владивостока. </p>
    </div>
    <div class="col-4_sm-6_xs-12">
        <img src="/images/icons/port.png" class="editable">
        <h4 class="editable"> Выловлена в Охотском море </h4>
        <p class="editable"> Попробуйте свежую корюшку, выловленную на Дальнем Востоке, и оцените её настоящий
        </p>
    </div>
    <div class="col-4_sm-6_xs-12">
        <img src="/images/icons/cuisine.png" class="editable">
        <h4 class="editable"> естественный «российский» вкус </h4>
        <p class="editable"> Для настоящих ценителей алкогольных закусок </p>
    </div>
    <!-- <div class="col-3_sm-6_xs-12">
        <img src="/images/icons/dollar.svg" class="editable">
        <h4 class="editable"> Modern E-Commerce </h4>
        <p class="editable"> Lorem ipsum dolor consectetur adipisicing elit. Quis libero quod voluptatibus vel eos
            expedita.</p>
    </div> -->
</section>

<!-- Dark intro section  -->
<section class="grid bg-green light-text padded">
    <div class="col-7_sm-12 bg-image bg-meeting tall-50">

    </div>
    <div class="col-5_sm-12-middle padded editable">
        <h2> Для Вас и Ваших друзей напрямую из России
            корюшка теперь и в Южной Корее </h2>
        <p> &#10004;
            выловлена в чистых водах Охотского моря</p>
        <p> &#10004;
            природный источник омега-3 – огромная польза для здоровья </p>
        <p> &#10004;
            удобная упаковка </p>
        <p> &#10004;
            разумная цена </p>
    </div>

</section>

<section>

    {% include newsletter-signup.html %}

</section>


<!-- Opening banner  -->

<section class="bg-image bg-plant-2 padded center tall-70 grid-right light-text" id="services">
    <div class="col-6_sm-8-middle right">
        <h2> Рекомендуем попробовать! </h2>
        <p> Хранить в сухом холодном месте. Избегайте прямых лучей. Соджу, пиво, виски, водка –
            отлично подойдёт к самым разным
            алкогольным напиткам. Настоящая российская корюшка!!!
        </p>
    </div>
</section>

<!-- Grid of services  -->
<!-- <section class="padded grid">
    <div class="col-4_xs-12 padded">
        <h3> Dried Seafood </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis libero dolor similique quod voluptatibus vel
            eos expedita, veniam obcaecati porro earum iusto, officia fuga quae possimus, fugiat illum reprehenderit
            deserunt.</p>
    </div>
    <div class="col-4_xs-12 padded">
        <h3> Sauce </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis libero dolor similique quod voluptatibus vel
            eos expedita, veniam obcaecati porro earum iusto, officia fuga quae possimus, fugiat illum reprehenderit
            deserunt.</p>
    </div>
    <div class="col-4_xs-12 padded">
        <h3> Bakery </h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis libero dolor similique quod voluptatibus vel
            eos expedita, veniam obcaecati porro earum iusto, officia fuga quae possimus, fugiat illum reprehenderit
            deserunt.</p>
    </div>
</section> -->

<!-- <section>

    {% include newsletter-signup.html %}

</section> -->

<!-- Features / about blocks -->

<!-- <section class="bg-rust padded projects" id="projects">
    <h2 class="center"> Recent Food </h2>

    {% for project in site.projects limit: 3 %}

        <div class="grid flex-flip-alternate">

            <div class="col-5_sm-12-middle padded">
                <h3> {{ project.title }} </h3>
                <p> {{ project.description }}</p>
            </div>
            <div class="col-7_sm-12-middle padded">
                <img src="{{ project.featured_image }}" alt="{{ project.title }}">
            </div>

    </div>

    {% endfor %}

</section> -->