---
layout: default
gallery:
- title: Dried Seafood
  img: /images/placeholder-project.png
- title: Another Dried Seafood
  img: /images/meeting.jpg
- title: Another Dried Seafood
  img: /images/withbeer2.jpg
- title: Another Dried Seafood
  img: /images/closeup.jpg
- title: Another Dried Seafood
  img: /images/withbeer2.jpg
about-video-id: lrM5CRg-O0I
---

<section class="bg-koc bg-plant-3 padded tall-70 grid-middle-right koc-text">
    <div class="col-6_sm-10 editable right">
        <h2 class="editable"> Страна происхождения: Россия </h2>
        <p> Хранить в сухом холодном месте. в специальном холодильнике доставим корюшку в любое удобное Вам место. Избегайте прямых лучей.</p>
    </div>
</section>

<section>

    {% include newsletter-signup.html %}

</section>


<div class="parent">
    {% for image in page.gallery %}

    <div class="squareimg">
        <img src="{{ image.img }}" alt="{{ image.title }}">
    </div>

    {% endfor %}

</div>


<!-- Dark intro section  -->
<section class="grid bg-green light-text padded">
    <div class="col-7_sm-12 bg-image bg-info tall-100 tall-sm">

    </div>
    <div class="col-5_sm-12-middle padded editable">
        <h2 class="editable hide-sm"> Заказ доставляется в упаковке из стирофома </h2>
        <p> Продукт имеет маркировку на корейском и русском языках, а также официальное разрешение на импорт от Корейского агентства
        по продовольственной и фармацевтической безопасности (M.F.D.S).</p>
    </div>

</section>

<!-- <section class="padded bg-rust center">
    <h2 class="editable"> Watch our dried fish video </h2>
    <p class="emphasis editable"> Featured j-bomb the terrier </p>
    <video width="100%" controls>
        <source src="/video/KakaoTalk_Video_2023-08-17-07-33-38.mp4" type="video/mp4">
        Your fish
    </video>
</section> -->

<!-- <section class="padded bg-rust center">
    <h2 class="editable"> Watch our dried fish video </h2>
    <p class="emphasis editable"> Featured j-bomb the terrier </p>
    <div class="padded-1">
        <div class='embed-container'><iframe src='https://www.youtube.com/embed/{{ page.about-video-id }}'
                frameborder='0' allowfullscreen></iframe></div>
    </div>
</section> -->


<!-- <section>

    {% for item in page.features %}

    <div class="grid flex-flip-alternate">

        <div class="col-5_sm-12-middle padded">
            <h3> {{ item.title }} </h3>
            <p> {{ item.description }}</p>
        </div>
        <div class="col-7_sm-12-middle padded">
            <img src="{{ item.featured_image }}" alt="{{ item.title }}">
        </div>

    </div>

    {% endfor %}

</section> -->